<section>
	

<style>
	body, html{
			
			background-repeat: no-repeat;
			
			font-family: 'Oxygen', sans-serif;
			}

			.main{
			 	margin-top: 70px;
			}

			h1.title {
			    font-family: times new roman;
			    font-size: 30px;
			    font-style: italic;
			    font-weight: 400;
			    margin-bottom: 20px;
			}

			.form-horizontal .control-label {
			    margin-bottom: 10px;
			    padding-top: 0;
			    text-align: right;
			}

			h2.title {
			    background-color: #d0d3cd;
			    color: #0e0e0e;
			    font-family: times new roman;
			    font-size: 20px;
			    margin-top: 9px;
			    text-align: center;
			    width: 100%;
			}

			h3.title {
				background-color: #d0d3cd;
			    color: #0e0e0e;
			    font-family: times new roman;
			    font-size: 20px;
			    margin-top: 9px;
			    text-align: center;
			    width: 100%;
			}

			h4, .h4 {
			    background-color: #d0d3cd;
			    color: #0e0e0e;
			    font-family: times new roman;
			    font-size: 20px;
			    margin-top: 30px;
			    text-align: center;
			    width: 100%;
			}

			hr{
				width: 10%;
				color: #fff;
			}

			.form-group{
				margin-bottom: 15px;
				padding: center;
				margin-left: auto;
				margin-right: auto;
			}

			label{
				margin-bottom: 15px;
			}

			input,
			input::-webkit-input-placeholder {
			    font-size: 11px;
			    padding-top: 3px;
			}

			.main-login{
			 	background-color: #fff;
			    /* shadows and rounded borders */
			    -moz-border-radius: 2px;
			    -webkit-border-radius: 2px;
			    border-radius: 50px;
			    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
			    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
			    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

			}

			.main-center{
			 	margin-top: 30px;
			 	margin: 30px auto;
			 	max-width: 930px;
			    padding: 40px 40px;

			}

			.login-button{
				margin-top: 5px;
			}

			.login-register{
				font-size: 20px;
				text-align: center;

			}


			.container.img{
				max-width:200px;
			    max-height:150px;
			    width: auto;
			    height: auto;
			}

			.input-group{
				border-collapse: separate;
				position: relative;

			}

			.container-fluid {
			    background: #cef0cf none repeat scroll 0 0;
			    margin-left: auto;
			    margin-right: auto;
			    padding-left: 15px;
			    padding-right: 15px;
			}

			textarea {
			    border-radius: 7px;
			    margin: 12px auto 15px;
			    overflow: auto;
			}

			.btn-info {
			    background-color: #5bc0de;
			    border-color: #46b8da;
			    color: #fff;
			    margin: auto auto 30px;
			    width: 30%;
			}

			.help-block {
			    color: #dc0000;
			    display: block;
			    margin-bottom: 10px;
			    margin-top: 5px;
			}

			.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
			    border-radius: 20px;
			}

			.form-control {
			    background-color: #fff;
			    background-image: none;
			    border: 1px solid #ccc;
			    border-radius: 4px;
			    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
			    color: #555;
			    display: block;
			    font-size: 14px;
			    height: 34px;
			    line-height: 1.42857;
			    margin-bottom: 10px;
			    padding: 6px 12px;
			    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
			    width: 100%;
			}

			.col-md-4 {
			    font-family: times new roman;
			    font-size: 25px;
			    text-align: center;
			    width: 50%;
			}

			.col-md-1 {
			    font-family: times new roman;
			    margin-bottom: 3px;
			    margin-top: 7px;
			    width: 50%;
			}

			.col-md-6 {
			    margin-left: 25px;
			    margin-right: 60px;
			    width: 40%;
			}

			.btn-primary {
			    background-color: #6599AF;
			    border-color: #2e6da4;
			    color: #fff;
			    margin-top: 70px;
			}
</style>


	<div class="main-login main-center">

		<form class="form-horizontal" name="calcularAnemiaForm" method="post" action="#">
			
			<div class="panel-title text-center">
    			<h1 class="title">Analisar Hemograma</h1>
    		</div>

			<fieldset>
				<label for="AnimSeus" class="cols-sm-2 control-label">Selecione a especie de Animal</label>
					<select name="AnimSeus" id="AnimSeus" ng-model="hemoga.especie" ng-required="true">
						<option value="">--</option>
						<option value="1">Cão</option>
						<option value="2">Gato</option>
					</select>
					<p ng-show="calcularAnemiaForm.AnimSeus.$invalid && !calcularAnemiaForm.AnimSeus.$pristine" class="help-block">A seleção da Especie é obrigatório</p>
				<div>
					<h2 class="title">Dados do Eritrograma</h2>
				</div>	
				<label for="VolGlob" class="cols-sm-2 control-label" >Qual o Volume Globular?</label>
				<input type="text" name="VolGlob" id="VolGlob" ng-required="true" class="form-control" ng-model="hemoga.VolGlob" placeholder="Por favor insira o Volume Globular!"/>
				<p ng-show="calcularAnemiaForm.VolGlob.$invalid && !calcularAnemiaForm.VolGlob.$pristine" class="help-block">Volume Globular é obrigatório</p>

				<label for="NuHema" class="cols-sm-2 control-label">Qual o número de Hemacias?</label>
				<input type="text" name="NuHema" id="NuHema" ng-required="true" class="form-control" ng-model="hemoga.NuHema" placeholder = "Por favor insira o valor em decimal, exemplo: (xx,xx)"/>
				<p ng-show="calcularAnemiaForm.NuHema.$invalid && !calcularAnemiaForm.NuHema.$pristine" class="help-block">Numero de Hemacias é obrigatório</p>

				<label for="TxHemb" class="cols-sm-2 control-label">Qual a taxa de hemoglobina?</label>
				<input type="text" name="TxHemb" id="TxHemb" ng-required="true" class="form-control" ng-model="hemoga.TxHemb" placeholder="Por favor insira a Taxa de Hemoglobina!"/>
				<p ng-show="calcularAnemiaForm.TxHemb.$invalid && !calcularAnemiaForm.TxHemb.$pristine" class="help-block">Taxa de Hemoglobina é obrigatório</p>
				<div>
					<h3 class="title">Dados do Leucograma</h3>
				</div>

				<label for="CGL" class="cols-sm-2 control-label">Informe a contagem global dos leucócitos?</label>
				<input type="text" name="CGL" id="CGL" ng-required="true" class="form-control" ng-model="hemoga.CGL" placeholder="Informe o valor aqui!"/>
				<p ng-show="calcularAnemiaForm.CGL.$invalid && !calcularAnemiaForm.CGL.$pristine" class="help-block">A contagem global de leocócitos é obrigatório</p>

				<div class="row">
					<div class="col-md-4">Valores Absolutos</div>
					<div class="col-md-4">Valores Relativos</div>
				</div>

				<div class="row">
					<div class="col-md-1" >Informe os Eosinófilos?</div>
					<div class="col-md-1">Informe os Eosinófilos?</div>
				</div>
				
					<div class="row">
						<input class="col-md-6" type="text" name="AbsoluEosino" id="AbsoluEosino" ng-required="true" ng-disabled="calcularAnemiaForm.RelaEosino.$valid" ng-model="hemoga.AbsoluEosino" placeholder="Informe o valor?"/>
						<input class="col-md-6" type="text" name="RelaEosino" id="RelaEosino" ng-disabled = "calcularAnemiaForm.AbsoluEosino.$valid" ng-required="true" ng-model="hemoga.RelaEosino" placeholder="Informe o valor?"/>
					</div>

				<div class="row">
					<div class="col-md-1">Informe os Basófilos?</div>
					<div class="col-md-1">Informe os Basófilos?</div>
				</div>

					<div class="row">
						<input class="col-md-6" type="text" name="AbsoluBasof" id="AbsoluBasof" ng-required="true" ng-disabled="calcularAnemiaForm.RelaEosino.$valid" ng-model="hemoga.AbsoluBasof" placeholder="Informe o valor?"/>
						<input class="col-md-6" type="text" name="RelaBasof" id="RelaBasof" ng-required="true" ng-model="hemoga.RelaBasof" ng-disabled = "calcularAnemiaForm.AbsoluEosino.$valid" placeholder="Informe o valor?"/>
					</div>

				<div class="row">
					<div class="col-md-1">Informe os Linfócitos?</div>
					<div class="col-md-1">Informe os Linfócitos?</div>
				</div>

					<div class="row">
						<input class="col-md-6" type="text" name="AbsoluLinfo" id="AbsoluLinfo" ng-required="true" ng-disabled="calcularAnemiaForm.RelaEosino.$valid" ng-model="hemoga.AbsoluLinfo" placeholder="Informe o valor?"/>
						<input class="col-md-6" type="text" name="RelaLinfo" id="RelaLinfo" ng-disabled = "calcularAnemiaForm.AbsoluEosino.$valid" ng-required="true" ng-model="hemoga.RelaLinfo" placeholder="Informe o valor?"/>
					</div>

				<div class="row">
					<div class="col-md-1">Informe os Monócitos?</div>
					<div class="col-md-1">Informe os Monócitos?</div>
				</div>

					<div class="row">
						<input class="col-md-6" type="text" name="AbsoluMono" id="AbsoluMono" ng-required="true" ng-disabled="calcularAnemiaForm.RelaEosino.$valid" ng-model="hemoga.AbsoluMono" placeholder="Informe o valor?"/>
						<input class="col-md-6" type="text" name="RelaMono" id="RelaMono" ng-required="true" ng-disabled = "calcularAnemiaForm.AbsoluEosino.$valid" ng-model="hemoga.RelaMono" placeholder="Informe o valor?"/>
					</div>

				<div class="row">
					<div class="col-md-1">Informe os Bastonetes?</div>
					<div class="col-md-1">Informe os Bastonetes?</div>
				</div>

					<div class="row">
						<input class="col-md-6" type="text" name="AbsoluBasto" id="AbsoluBasto" ng-required="true" ng-disabled="calcularAnemiaForm.RelaEosino.$valid" ng-model="hemoga.AbsoluBasto" placeholder="Informe o valor?"/>
						<input class="col-md-6" type="text" name="RelaBasto" id="RelaBasto" ng-required="true" ng-disabled = "calcularAnemiaForm.AbsoluEosino.$valid" ng-model="hemoga.RelaBasto" placeholder="Informe o valor?"/>
					</div>

				<div class="row">
					<div class="col-md-1">Informe os Segmentados?</div>
					<div class="col-md-1">Informe os Segmentados?</div>
				</div>

					<div class="input-group">
						<input class="col-md-6" type="text" name="AbsoluSegmen" id="AbsoluSegmen" ng-required="true" ng-disabled="calcularAnemiaForm.RelaEosino.$valid"
						ng-model="hemoga.AbsoluSegmen" placeholder="Informe o valor?"/>
						<input class="col-md-6" type="text" name="RelaSegmen" id="RelaSegmen" ng-required="true" ng-model="hemoga.RelaSegmen" ng-disabled = "calcularAnemiaForm.AbsoluEosino.$valid" placeholder="Informe o valor?"/>
					</div>

				<div>
					<button type="button" class="btn btn-primary btn-block" ng-click="calcular(hemoga)">Analisar Resultados</button>
				</div>

				<div>
					<h4 class="title">Resultados</h4>
				</div>

				<div class="jumbotron">

					<table class="table table-striped">
						<tr>
		    				<th>Tipo da Anemia</th>
		    				<th>Descrição Anemia</th>
		    				<th>Analise dos Leucocitos</th>
		    				<th>Descrição da Doença</th>
		    			</tr>
		    			<tr class="table table-responsive" ng-class="{'selecionado negrito': auxiliar.selecionado}" ng-repeat="auxiliar in auxiliaresCadastrados | 
						            	filter: buscarAuxiliar | orderBy:criterioOrdenacao:direcaoOrdenacao">
							<td><input type="checkbox" ng-model="auxiliar.selecionado"></td>
							<td>{{auxiliar.nomeAuxiliar}}</td>
							<td>{{auxiliar.telefoneAuxiliar}}</td>
							<td>{{auxiliar.emailAuxiliar}}</td>
							<td> <button class="btn btn-info btn-xs" ng-click="adicionarAuxiliar(auxiliar)">Add</button></td>
		    				
		    			</tr>
					</table>
										
				</div>

				<div>
					<button type="button" class="btn btn-lg btn-info btn-block" ng-click="voltar()">Voltar</button>
				</div>

			</fieldset>
		</form>
	</div>
</section>