<section>

	<style>

			body, html{
			
			background-repeat: no-repeat;
			
			font-family: 'Oxygen', sans-serif;
			}

			.main{
			 	margin-top: 70px;
			}

			h1.title { 
				font-size: 50px;
				font-family: 'Passion One', cursive; 
				font-weight: 400; 
			}

			h2.title{
				text-align: center;
				color: #000EB9;
				font-size: 20px;
				font-family: 'Passion One', cursive;
				font-weight: 30;
				margin-top: 5px;
			}

			hr{
				width: 10%;
				color: #fff;
			}

			.form-group{
				margin-bottom: 15px;
				padding: center;
				margin-left: auto;
				margin-right: auto;
			}

			label{
				margin-bottom: 15px;
			}

			input,
			input::-webkit-input-placeholder {
			    font-size: 11px;
			    padding-top: 3px;
			}

			.main-login{
			 	background-color: #fff;
			    /* shadows and rounded borders */
			    -moz-border-radius: 2px;
			    -webkit-border-radius: 2px;
			    border-radius: 50px;
			    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
			    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
			    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

			}

			.main-center{
			 	margin-top: 30px;
			 	margin: 30px auto;
			 	max-width: 530px;
			    padding: 40px 40px;

			}

			.login-button{
				margin-top: 5px;
			}

			.login-register{
				font-size: 20px;
				text-align: center;

			}


			.container.img{
				max-width:200px;
			    max-height:150px;
			    width: auto;
			    height: auto;
			}

			.input-group{
				border-collapse: separate;
				position: relative;

			}

    </style>


        <div class="main-login main-center">

    		<form class="form-horizontal" name="cadastroAuxiliarForm" method="post" action="#">
    			
    			<img src="img/logoVeterinarioPortugues.png" class="img-responsive" alt="" />
				
				<div class="form-group">
					
					<div class="cols-sm-10">
						<div class="input-group">
							<label for="cpf" class="cols-sm-2 control-label">Digite CPF</label>
							<input type="text" class="form-control" name="cpf" id="cpf" placeholder="xxx.xxx.xxx-xx" ng-model="auxiliar.cpfAuxiliar" ng-required="true"/>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					
					<div class="cols-sm-10">
						<div class="input-group">
							<label for="name" class="cols-sm-2 control-label">Digite Nome</label>
							<input type="text" class="form-control" name="name" id="name" ng-model="auxiliar.nomeAuxiliar" placeholder="Digite seu nome aqui..." ng-required="true" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="cols-sm-10">
						<div class="input-group">
							<label for="address" class="cols-sm-2 control-label">Digite seu Endereço</label>
							<input type="text" class="form-control" name="address" id="address" placeholder="Digite seu endereço aqui..." 
									ng-model="auxiliar.enderecoAuxiliar" ng-required="true"/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="email" class="cols-sm-2 control-label">Digite seu Email</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<input type="text" class="form-control" name="email" id="email" ng-model="auxiliar.emailAuxiliar" placeholder="Digite seu email aqui..." ng-required="true"/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="phone" class="cols-sm-2 control-label">Digite seu Telefone</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<input type="text" class="form-control" name="phone" id="phone" ng-model="auxiliar.telefoneAuxiliar" placeholder="+XX (XX) XXXXX-XXXX" 
							ng-required="true"/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="cols-sm-10">
						<div class="input-group">
							<label for="city" class="cols-sm-2 control-label">Seu estado</label>
							<select name="estado" id="estadoSelecionado" ng-model="auxiliar.Estados" 
									ng-change = "carregarCidades()">
								<option value="">Selecione um estado</option>
								<option ng-repeat="option in estados" value="{{option.idEstados}}">{{option.nomeEstados}}</option>
							</select>
						</div>

					</div>	
				</div>

				<div class="form-group">
					<div class="cols-sm-10">
						<div class="input-group">
							<label for="state" class="cols-sm-2 control-label">Sua Cidade</label>
							<select name="cidade" id="cidade" ng-model="auxiliar.Cidade">
								<option value="">Selecione sua cidades</option>
								<option ng-repeat="option in cidades" value="{{option.idCidade}}">{{option.nomeCidade}}</option>
							</select>
						</div>

					</div>
				</div>

				<div class="form-group">
					<label for="password" class="cols-sm-2 control-label">Digite sua Senha</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<input type="password" class="form-control" name="senhaAuxiliar" id="password" ng-model="auxiliar.senhaAuxiliar" ng-required="true" placeholder="Digite sua senha aqui..."/>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label for="confirm" class="cols-sm-2 control-label">Confirme sua senha</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<input type="password" name="senhaAuxiliar2" ng-model="senha2" placeholder="Confirme Senha" id="confirm_password" ng-blur="validarSenhas()" required>
						</div>
					</div>
				</div>
				<div class="form-group ">
					<button type="button" class="btn btn-primary btn-block" ng-click="novoAuxiliar(auxiliar)"	ng-disabled="cadastroAuxiliarForm.$invalid">Cadastra</button>
				</div>
					<p ng-show="mensagem.length" ng-hide="mensagemSucesso">{{mensagem}}</p>

				<div class="login-register">
	                <button type="button" class="btn btn-primary btn-block" ng-click="voltarLogin()">Voltar</button>
            	</div>

				
			</form>

    		
    	</div>
	

</section>