<section>
	
	<style>

			body, html{
			
			background-repeat: no-repeat;
			background-color: #d3d3d3;
			font-family: 'Oxygen', sans-serif;
			}

			.main{
			 	margin-top: 70px;
			}

			h1.title { 
				font-size: 50px;
				font-family: 'Passion One', cursive; 
				font-weight: 400; 
			}

			h2.title{
				text-align: center;
				color: #000EB9;
				font-size: 20px;
				font-family: 'Passion One', cursive;
				font-weight: 30;
				margin-top: 5px;
			}

			hr{
				width: 10%;
				color: #fff;
			}

			.form-group{
				margin-bottom: 15px;
				padding: center;
				margin-left: auto;
				margin-right: auto;
			}

			label{
				margin-bottom: 15px;
			}

			input,
			input::-webkit-input-placeholder {
			    font-size: 11px;
			    padding-top: 3px;
			}

			.main-login{
			 	background-color: #fff;
			    /* shadows and rounded borders */
			    -moz-border-radius: 2px;
			    -webkit-border-radius: 2px;
			    border-radius: 50px;
			    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
			    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
			    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

			}

			.main-center{
			 	margin-top: 30px;
			 	margin: 30px auto;
			 	max-width: 530px;
			    padding: 40px 40px;

			}

			.login-button{
				margin-top: 5px;
			}

			.login-register{
				font-size: 20px;
				text-align: center;

			}


			.container.img{
				max-width:200px;
			    max-height:150px;
			    width: auto;
			    height: auto;
			}

			.input-group{
				border-collapse: separate;
				position: relative;

			}

			body{
				background: url(img/logoresponsavel1.jpg);
			}


    </style>

    <div class="main-login main-center">
    	<form class="form-horizontal" name="cadastroClinicaForm" method="post" action="#">
    		<img src="img/logoVeterinarioIngles.png" class="img-responsive" alt=""/>
    		
    		<div class="form-group">
    			<div class="cols-sm-10">
    				<div class="input-group">
    					<label for="cnpj" class="cols-sm-2 control-label">Digite o Cnpj da Clinica</label>
    					<input type="text" class="form-control" name="cnpj" id="cnpj" 
    					ng-model="clinica.cnpj" ng-required="true" placeholder="XX.XXX.XXX/XXXX.XX"/>
    				</div>
    			</div>
    		</div>

    		<div class="form-group">
    			<div class="cols-sm-10">
    				<div class="input-group">
    					<label for="name" class="cols-sm-2 control-label">Digite o nome da Clinica</label>
						<input type="text" class="form-control" name="name" id="name" placeholder="Digite o nome da Clinica aqui..." ng-model="clinica.nomeClinica" ng-required="true"/>
    				</div>
    			</div>
    		</div>

    		<div class="form-group">
    			<div class="cols-sm-10">
    				<div class="input-group">
					<label for="endereco" class="cols-sm-2 control-label">Digite o Endereço da Clinica</label>
					<input type="text" class="form-control" name="endereco" id="endereco" placeholder="Digite o Endereço da Clinica aqui..." ng-model="clinica.enderecoClinica" ng-required="true"/>
    				</div>
    			</div>
    		</div>

    		<div class="form-group">
    			<div class="cols-sm-10">
    				<div class="input-group">
    					<label for="telefoneClinicaResidencial" class="cols-sm-2 control-label">Digite o telefone Residencial da Clinica</label>
    					<input type="text" class="form-control" name="telefoneClinicaResidencial" 
    					id="telefoneClinicaResidencial" ng-model="clinica.telefoneClinicaResidencial" placeholder="+XX (XX) XXXXX-XXXX" ng-required="true"/>
    				</div>
    			</div>
    		</div>

    		<div class="form-group">
    			<div class="cols-sm-10">
    				<div class="input-group">
    					<label for="telefoneClinicaCelular" class="cols-sm-2 control-label">Digite o telefone Celular da Clinica</label>
    					<input type="text" class="form-control" name="telefoneClinicaCelular" 
    					id="telefoneClinicaCelular" ng-model="clinica.telefoneClincaCelular" 
    					placeholder="+XX (XX) XXXXX-XXXX" ng-required="true"/>
    				</div>
    			</div>
    		</div>

    		<div class="form-group">
    			<div class="cols-sm-10">
    				<div class="input-group">
    					<label for="telefoneClinicaCelularOutros" class="cols-sm-2 control-label">Digite outros Telefones da Clinica</label>
    					<input type="text" class="form-control" name="telefoneClinicaCelularOutros" 
    					id="telefoneClinicaCelularOutros" ng-model="clinica.telefoneClnicaOutros" placeholder="+XX (XX) XXXXX-XXXX" ng-required="true"/>
    				</div>
    			</div>
    		</div>

    		<div class="form-group">
    			<div class="cols-sm-10">
    				<div class="input-group">
    					<label for="emailclinica" class="cols-sm-2 control-label">Digite o Email da Clinica</label>
    					<input type="text" class="form-control" name="emailclinica" id="emailclinica" 
    					ng-model="clinica.emailClinica" ng-required="true" 
    					placeholder="Digite seu email aqui..."/>
    				</div>
    			</div>
    		</div>

    		<div class="form-group">
    			<div class="cols-sm-10">
    				<div class="input-group">
    					<label for="estado" class="cols-sm-2 control-label">Seu estado</label>
							<select name="estado" id="estadoSelecionado" ng-model="clinica.Estados" 
									ng-change = "carregarCidades()">
								<option value="">Selecione um estado</option>
								<option ng-repeat="option in estados" value="{{option.idEstados}}">{{option.nomeEstados}}</option>
							</select>
    				</div>
    			</div>
    		</div>

    		<div class="form-group">
    			<div class="cols-sm-10">
    				<div class="input-group">
    					<label for="cidade" class="cols-sm-2 control-label">Sua Cidade</label>
							<select name="cidade" id="cidade" ng-model="clinica.Cidade">
								<option value="">Selecione sua cidades</option>
								<option ng-repeat="option in cidades" value="{{option.idCidade}}">{{option.nomeCidade}}</option>
							</select>
    				</div>
    			</div>
    		</div>

    		<div class="form-group">
    			<div class="cols-sm-10">
    				<div class="input-group">
    					<label for="perfilClinica" class="cols-sm-2 control-label">Perfil Clinica</label>
							<div class="input-group">
								<textarea rows="6" style="width: 20em" id="perfilClinica" name="perfilClinica" ng-model="clinica.perfilClinica" ng-required="true"></textarea>
							</div>
    				</div>
    			</div>
    		</div>

    		<div class="form-group">
    			<div class="cols-sm-10">
    				<div class="input-group">
    					<label for="senhaClinica" class="cols-sm-2 control-label">Digite sua Senha</label>
						<input type="password" class="form-control" name="senhaClinica" id="senhaClinica" ng-model="clinica.senhaClinca" placeholder="Digite sua senha aqui..." ng-required="true"/>
    				</div>
    			</div>
    		</div>

    		<div class="form-group">
    			<div class="cols-sm-10">
    				<div class="input-group">
    					<label for="confirm" class="cols-sm-2 control-label">Confirme sua Senha</label>
						<input type="password" class="form-control" name="confirm" id="confirm"  
								placeholder="Confirme sua senha..."/>
    				</div>
    			</div>
    		</div>

    		<div class="form-group ">
				<button type="button" class="btn btn-primary btn-block" ng-click = "novaClinica(clinica)"
				ng-disabled="cadastroClinicaForm.$invalid">Cadastra</button>
			</div>

			<div class="login-register">
				<button type="button" class="btn btn-primary btn-block">Voltar</button>
	            </button>
	        </div>
    	</form>
    	
    </div>

</section>