<section class="login-form">

        <form  name="formLogin" method="post" role="login">

            <img src="img/logoVeterinarioIngles.png" class="img-responsive" alt="" />
            
              <label for="username">Login</label>
              <i class="fa fa-key"></i>
              <input name="username" id="username" class="form-control" type="text" ng-model="usuario.username" ng-pattern = "/^\d{4,11}$/" required= "true" placeholder="CRMV(Médico) ou CPF(Auxiliar/Responsavel)"/>
              
              <label for="password">Password</label>
              <i class="fa fa-lock"></i>
              <input name="password" id="password" class="form-control" type="password" ng-model="usuario.password" required= "true" placeholder="Sua senha" />
          
                <div class="pwstrength_viewport_progress"></div>
          
                <button type="submit" ng-disabled="formLogin.$invalid || dataLoading" class="btn btn-lg btn-primary btn-block" ng-click = "login(usuario)">Login</button>
          
                  <div>
                    
                    <a href="/selecionarCadastro">Criar Conta</a> ou <a href="#">Resetar Senha</a>
                  
                  </div>
          
        </form>
    
      <div class="form-links">
        <a href="http://dev.vetonline.com/index.html">dev.vetonline.com</a>
      </div>
</section>  