<section class="login-form">

        <form method="post" role="login">

            <img src="img/logoVeterinarioIngles.png" class="img-responsive" alt="" />

              <label for="username">Login</label>
              <i class="fa fa-key"></i>
              <input name="username" id="username" class="form-control" type="text" ng-model="user.username" required placeholder="CRMV(Médico) ou CPF(Auxiliar/Responsavel)"/>
              
              <label for="password">Password</label>
              <i class="fa fa-lock"></i>
              <input name="password" id="password" class="form-control" type="password" ng-model="user.password" required placeholder="Sua senha" />
          
                <div class="pwstrength_viewport_progress"></div>
          
                <button type="submit" ng-click="logar(user)" class="btn btn-lg btn-primary btn-block">Login</button>
          
                  <div>
                    
                    <a href="/selecionarCadastro">Criar Conta</a> ou <a href="#">Resetar Senha</a>
                  
                  </div>
          
        </form>
    
      <div class="form-links">
        <a href="http://dev.vetonline.com/index.html">dev.vetonline.com</a>
      </div>
</section>  